body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.topnavbar {
  position: sticky;
  top: 0;
  margin-bottom: 10px;
}

.topnavbar .nav-link {
  color: white
}

.topnavbar .nav-link:hover {
  color: rgb(197, 197, 197)
}

.sidebar .nav-item {
  padding: 10px 0px;
  padding-left: 20px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  display: block !important;
}

.sidebar .nav-item.active {
  background-color: #343434;
}

.auth-input {
  border-radius: 18px !important;
  border-color: black !important;
}