body {
  background-color: #E4E6F1 !important;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.mainback {
  min-height: 80vh;
  display: flex;
  padding: 10px 0;
}

.page {
  width: 100%;
}

.heading {
  font-size: 60px !important;
  font-family: "Work Sans", sans-serif;
  padding: 5px 10px;
}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}


.topnavbar {
  background-color: #011C37;
  padding-bottom: 15px;
  padding-top: 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar--rightside {
  margin-left: 700px;

}


.topnavbar .nav-link {
  color: white;
  padding-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
}

.nav-link:hover {
  background-color: #011C37 !important;
  color: #FF7426 !important;
}

a.nav-link.active {
  color: #FF7426 !important;
}


.logoname {
  text-align: center;
  padding-right: 20px;
  left: 7.92%;
  right: 82.38%;
  top: -10.81%;
  bottom: 40.92%;
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FF7426;
}

.points {
  color: white !important;
}

.topnavbar .nav-link {
  color: rgb(197, 197, 197)
}


.sidebar .nav-item {
  padding: 10px 0px;
  padding-left: 20px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  display: block !important;
}

.sidebar .nav-item.active {
  background-color: #343434;
}

.Location-comment {
  font-size: smaller;
}

.carousel-img {
  width: 100% !important;
  height: 600px !important;
}


.myBold {
  font-weight: 900;
  font-size: 35px;
  padding-bottom: 22px;
}

.search-box {
  border-radius: 18px;
  height: 40px;
}

.my-font {
  font-size: 20px;
  font-weight: 400;
}

.my-vertical-align {
  top: 50%;
}

.my-margin300 {
  margin-top: 300px;
}

.cursor-pointer {
  cursor: pointer;
}

.justify-self-end {
  display: flex;
  align-self: flex-end;
}

.my-justify-self-end {
  position: absolute;
  right: 0px;
}

.post-photo {
  min-width: 100%;
  max-width: 101%;
}

.my-filter-text {
  font-family: 'Inter';
  border-radius: 10px;
}

.my-filter-dropdown {
  margin-bottom: 15px;
  width: 100%;
}

.my-filter-left {
  margin-left: 10%;
  margin-top: 10%;
}

.my-filter-left-bottom {
  margin-top: 20%;
}

.my-filter-rightside {
  width: 80%;
  justify-content: center;
  align-self: baseline;
  margin-top: 10%;
}

.language {
  padding: 0px;
  font-size: 25px;
}

.select-language {
  padding: 0px;
  background-color: #011C37 !important;
  border: none !important;
  color: #E4E6F1 !important;
}


.discover-page-items {
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.discover-page-item-text {
  width: 160px;
  text-align: center;
}

.category-item {
  background-color: #E7F7FD;
  margin: 0 15px;
  border-radius: 39px;
}

.category-item-button {
  border-radius: 39px !important;
}


.my-grid-cols-4 {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  width: auto;
}

.my-grid-cols-2 {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);

  width: auto;
}

.wh-200-150 {
  width: 200px;
  height: 150px;
}

.posts-in-profile {
  width: 30rem;
  height: 20rem;
  border-radius: 4rem;
}

.icon-topnavbar {
  padding-top: 2%;
}

.profilePic {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.profileContainer {
  display: flex;
  margin: 20px;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}

.avatar {
  vertical-align: middle;
  width: 16rem !important;
  height: 16rem !important;
  border-radius: 50%;
}

.suggestion-container {
  background-color: #E7FAFE;
  border-radius: 39px;
  padding: 4rem auto;
  max-width: 81rem;
}

.suggestion-part {
  padding-right: 4rem;
}

.suggestion-h1-part {
  font-weight: 900;
  padding: 2rem;
  max-width: 90%;
}

.suggestion-desc-part {
  max-width: 60rem;
  padding: 2rem;
}

.suggestion-img-part {
  display: flex;
  justify-content: flex-end;
  padding-left: 4rem;
}

.suggestionIMG {
  width: 130%;
  height: 130%;
  border-radius: 39px;
}

.userInfoIMG {
  width: 5rem;
  height: 5rem;
  margin-left: 4%;
  border-radius: 50%;
}

.forgotten-flavors-home-page {
  max-width: 83rem;
  text-align-last: center;
  background-color: #C4C4C4;
  border-radius: 39px;
  padding: 10px;
}

.forgotten-flavors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 83rem;
}

.forgotten-flavors-card {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 39px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #E7FAFE;
  transition: all 100ms ease-in-out;
}

.forgotten-flavors-card-img {
  width: 250px;
  height: 250px;
  border-radius: 39px;
}

.home-page-h1 {
  max-width: 65rem;
  font-weight: 900;
  padding-left: 2rem;
}

.top-part {
  padding: 4rem;
  margin-right: 0.4rem;
  max-width: 67rem;
}

.top-part-home-page {
  background: #C4C4C4;
  border-radius: 27px;
  max-width: 50rem;
  padding: 2rem;
}

.top-museum-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 25rem;
  padding-bottom: 10rem;
}

.top-museum-items {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  transition: all 100ms ease-in-out;
}

.carousels img {
  height: 800px;
  border-radius: 55px;
}

.carousels {
  margin: 10px;
}

.modal-w {
  width: 30rem !important;
  max-width: 30rem !important;
}

.resize-none {
  resize: none;
  height: 16rem !important;
}

.max-width-40rem {
  max-width: 27.5rem !important;
}

.opacity-40 {
  opacity: 0.4;
}

.filter-group {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}

.filterMaxHeight {
  max-height: 20rem;
}

#routerMap {
  height: 900px;
  width: 100%;
}

#MapView {
  position: unset !important;
}

.locationContainerInTrip {
  display: flex;
  flex-wrap: wrap;
  width: 73rem;
}

.locationContainerInTrip>* {
  flex: 0 0 32%;
}

.cardTextInTripContainer {
  max-width: 50rem;
}

.imgInTable {
  width: 50px;
  height: 40px;
}

.locationInTable {
  cursor: pointer;
}

.locationInTable :hover {
  opacity: 50%;
}

.imgInComment {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.usrImgInPost {
  margin-left: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.post {
  width: 50rem;
  height: auto;
  background: #fff;
  border: 1px solid #dfdfdf;
  margin-top: 40px;
  border-radius: 10px;
}

.info {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username {
  width: auto;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-left: 1rem;
}

.info .user {
  display: flex;
  align-items: center;
}

.info .profile-pic {
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
}

.info .profile-pic img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.post-image {
  width: 34.9rem;
  height: 34.9rem;
  border-radius: 1.5rem;
}

.post-content {
  width: 100%;
  padding: 20px;
}

.likes {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.description span {
  font-weight: bold;
  margin-right: 10px;
}

.post-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

#loader {
  position: relative;
  left: 48%;
}

img {
  object-fit: cover;
}