body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#1411ad, #db86f0) no-repeat center center fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.topnavbar {
  background-color: #1411ad;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
}

.topnavbar .nav-link {
  color: white
}

.topnavbar .nav-link:hover {
  color: rgb(197, 197, 197)
}

.sidebar .nav-item {
  padding: 10px 0px;
  padding-left: 20px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  display: block !important;
}

.sidebar .nav-item.active {
  background-color: #343434;
}

.select-language {
  background-color: #1411ad !important;
  color: white !important;
  font-size: 10px !important;
  border: none !important;
  box-shadow: none !important;
}

.input-text-item {
  color: black !important;
  font-weight: bolder !important;
  width: 100px;
  border: none !important;
  background-color: transparent !important;
}

.input-item {
  padding-left: 10px !important;
  border-radius: 50px !important;
}


.signup-header {
  color: black !important;
  background-color: transparent !important;
}

.socials {
  position: absolute;
  right: 0%;
}